
services:
  record:
    build:
      context: .
      dockerfile: recorder/Dockerfile
    image: music-recorder:latest
    container_name: spotify-record

    env_file: .env
    environment:
      - PYTHONIOENCODING=utf-8
      - LIBRESPOT_USE_OAUTH=1

    volumes:
      - ./parse.json:/app/parse.json:ro
      - ./.recorder_cache:/app/.recorder_cache
      - ./recordings:/app/recordings


    entrypoint: ["sleep"]
    command: ["infinity"]
